.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 450px;
    overflow: hidden;
}
.current-image {
    border-radius: 0.5rem;
    box-shadow: 0 0 7px #666;
    width: 100%;
    height: 100%;
}
.hide-current-image {
    display: none;
}
.arrow {
    position: absolute;
    width: 2rem;
    height: 2rem;
    color: #fff;
    filter: drop-shadow(0 0 5px #555);
}
.arrow-left {
    left: 1rem;
}
.arrow-right {
    right: 1rem;
}
.circle-indicators {
    display: flex;
    position: absolute;
    bottom: 1rem;
}
.current-indicator {
    background-color: #ffffff;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin: 0 0.2rem;
    cursor: pointer;
}
.inactive-indicator {
    background-color: #e9edf0;
    opacity: 0.8;
}
